@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-b-webfont.eot');
    src: url('fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-b-webfont.woff') format('woff'),
         url('fonts/ubuntu-b-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/vollkorn-regular-webfont.eot');
    src: url('fonts/vollkorn-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vollkorn-regular-webfont.woff') format('woff'),
         url('fonts/vollkorn-regular-webfont.ttf') format('truetype'),
         url('fonts/vollkorn-regular-webfont.svg#vollkornregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

a, a:hover {
    color: #29bdca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
    background-color: #FFF;
    width: 760px;
    margin: 50px auto 100px auto;
}

h1, h2 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    line-height: 1em;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h1.subtitle {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 1.5em;
    font-weight: 100;
    margin: 20px 0 30px 0;
    color: #AAA;
}

h2 {
    font-size: 1.5em;
    margin: 35px 0 20px 0;
}

section {
    margin: 60px 0;
}

ul li {
    margin: 10px 0 10px 25px;
}

#pdf {
    margin-top: 10px;
    float: right;
}

#profile {
    margin: 0;
}

#profile h2 {
    display: none;
}

#profile p {
    line-height: 1.7em;
    margin-bottom: 20px;
}

#contact {
    background-color: #F7F7F7;
    float: right;
    padding: 20px;
    margin: 0 0 20px 20px;
}

#contact h2 {
    margin: 0 0 10px 0;
}

#contact ul {
    list-style: none;
    line-height: 1em;
}

#contact ul li {
    padding: 5px 0;
    margin: 0;
}

#skills ul {
    margin: 30px 0 0 10px;
}

#skills ul:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#skills ul li {
    float: left;
    width: 150px;
    margin: 0 0 20px 20px;
}

#work-experience > ul, #education > ul {
    margin-top: 30px;
    list-style: none;
}

#work-experience > ul > li, #education > ul > li {
    padding: 0 0 20px 0;
    margin: 20px 0;
}

#work-experience > ul > li > p, #education > ul > li > p {
    display: inline;
}

#work-experience > ul > li > p:first-child,
#education > ul > li > p:first-child {
    font-size: 1.1em;
}

#work-experience > ul > li > p:nth-child(2n+0),
#education > ul > li > p:nth-child(2n+0) {
    float: right;
    color: #AAA;
}

#education > ul > li > ul > li {
    list-style: none;
    margin: 10px 0 0 0;
}