@import url('//fonts.googleapis.com/css?family=Ubuntu:bold');
@import url('//fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700');

* {
    padding: 0;
    margin: 0;
}

a, a:hover {
    color: #29bdca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
    background-color: #FFF;
    width: 700px;
    margin: 50px auto 100px auto;
}

h1, h2 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    line-height: 1em;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h1.subtitle {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 1.5em;
    font-weight: 100;
    font-style: italic;
    margin: 20px 0 30px 0;
    color: #DDD;
}

h2 {
    font-size: 1.5em;
    margin: 35px 0 20px 0;
}

section {
    margin: 60px 0;
}

ul li {
    margin: 10px 0 10px 25px;
}

#profile {
    margin: 0;
}

#profile h2 {
    display: none;
}

#profile p {
    line-height: 1.7em;
    margin-bottom: 20px;
}

#contact {
    background-color: #f7f7f7;
    float: right;
    padding: 20px;
    margin: 0 0 20px 20px;
}

#contact h2 {
    margin: 0 0 10px 0;
}

#contact ul {
    list-style: none;
    line-height: 1em;
}

#contact ul li {
    padding: 5px 0;
    margin: 0;
}

#skills ul {
    columns: 3 12em;
    column-gap: 1em;
    -moz-columns: 3 12em;
    -moz-column-gap: 1em;
    -webkit-columns: 3 12em;
    -webkit-column-gap: 1em;
}

#work-experience > ul, #education > ul {
    margin-top: 30px;
    list-style: none;
}

#work-experience > ul > li, #education > ul > li {
    padding: 0 0 20px 0;
    margin: 20px 0;
    border-bottom: 1px dotted #CCC;
}

#work-experience > ul > li > p, #education > ul > li > p {
    display: inline;
}

#work-experience > ul > li > p:first-child,
#education > ul > li > p:first-child {
    font-size: 1.1em;
}

#work-experience > ul > li > p:nth-child(2n+0),
#education > ul > li > p:nth-child(2n+0) {
    float: right;
    color: #AAA;
}

#education > ul > li > ul > li {
    list-style: none;
    margin: 10px 0 0 0;
}