body {
    margin: 20px auto 0 auto !important;
    width: 850px !important;
    font-size: 18px !important;
}

h2 {
    margin: 50px 0 15px 0 !important;
}

section {
    margin: 0 !important;
}

#pdf {
    display: none !important;
}

section#profile p {
    margin-bottom: 10px !important;
}

section#contact {
    margin: 0 0 10px 30px !important;
}

section#contact h2 {
    margin: 0 0 10px 0 !important;
}

section#skills ul {
    margin: 15px 0 0 15px !important;
}

section#skills ul li {
    width: 170px !important;
    margin: 0 0 10px 10px !important;
}

section#work-experience {
    margin: 120px 0 50px 0 !important;
}

#work-experience > ul > li, #education > ul > li {
    padding: 0 !important;
    margin: 0 0 20px 0 !important;
}

#work-experience h2, #education h2 {
    margin-bottom: -10px !important;
}

section#education {
    margin: 0 0 50px 0 !important;
}